@model MVC_Project_BSL.ViewModels.BestemmingViewModel

<h1>Bestemming bewerken</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BestemmingsNaam">Naam</label>
        <input asp-for="BestemmingsNaam" class="form-control" />
        <span asp-validation-for="BestemmingsNaam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Beschrijving"></label>
        <textarea asp-for="Beschrijving" class="form-control"></textarea>
        <span asp-validation-for="Beschrijving" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinLeeftijd">Minimum leeftijd</label>
        <input asp-for="MinLeeftijd" class="form-control" />
        <span asp-validation-for="MinLeeftijd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxLeeftijd">Maximum leeftijd</label>
        <input asp-for="MaxLeeftijd" class="form-control" />
        <span asp-validation-for="MaxLeeftijd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Bestaande foto's</label>
        @if (Model.BestaandeFotos != null && Model.BestaandeFotos.Any())
        {
            <div class="row">
                @for (int i = 0; i < Model.BestaandeFotos.Count; i++)
                {
                    <div class="col-md-3">
                        <img height="150px" width="180px" src="~/images/@Model.BestaandeFotos[i].Naam" class="img-thumbnail" alt="@Model.BestaandeFotos[i].Naam" />
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="VerwijderFotosIds" value="@Model.BestaandeFotos[i].Id" id="foto_@Model.BestaandeFotos[i].Id" />
                            <label class="form-check-label" for="foto_@Model.BestaandeFotos[i].Id">Verwijderen</label>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>Geen foto's beschikbaar.</p>
        }
    </div>

    <!-- Nieuwe foto's toevoegen -->
    <div class="form-group">
        <label asp-for="FotoBestanden">Nieuwe foto's toevoegen</label>
        <input asp-for="FotoBestanden" type="file" class="form-control" multiple data-val="false"/>
        <span asp-validation-for="FotoBestanden" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Opslaan" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
