@model MVC_Project_BSL.ViewModels.LoginViewModel

<h2 class="mx-auto" style="max-width: 70%; text-align: left;">Inloggen</h2>

<div class="d-flex justify-content-center">
    <form asp-action="Login" method="post" class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div> <!-- Foutmeldingen hier -->

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Wachtwoord</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label">Herinner mij?</label>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="mt-5">
            <a asp-action="Register">Geen account? Maak een nieuw account aan</a>
        </div>
    </form>
</div>
