@model MVC_Project_BSL.ViewModels.RegisterViewModel

<h2>Registreren</h2>

<form asp-action="Register" method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Naam"></label>
            <input asp-for="Naam" class="form-control" />
            <span asp-validation-for="Naam" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Voornaam"></label>
            <input asp-for="Voornaam" class="form-control" />
            <span asp-validation-for="Voornaam" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Straat"></label>
            <input asp-for="Straat" class="form-control" />
            <span asp-validation-for="Straat" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Huisnummer"></label>
            <input asp-for="Huisnummer" class="form-control" />
            <span asp-validation-for="Huisnummer" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Postcode"></label>
            <input asp-for="Postcode" class="form-control" />
            <span asp-validation-for="Postcode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Gemeente"></label>
            <input asp-for="Gemeente" class="form-control" />
            <span asp-validation-for="Gemeente" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Password">Wachtwoord</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ConfirmPassword">Herhaal wachtwoord</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Geboortedatum"></label>
            <input asp-for="Geboortedatum" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Geboortedatum" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="TelefoonNummer">Telefoonnummer</label>
            <input asp-for="TelefoonNummer" class="form-control" />
            <span asp-validation-for="TelefoonNummer" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Huisdokter"></label>
            <input asp-for="Huisdokter" class="form-control" />
            <span asp-validation-for="Huisdokter" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="RekeningNummer">Rekeningnummer</label>
        <input asp-for="RekeningNummer" class="form-control" />
        <span asp-validation-for="RekeningNummer" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary mt-2">Registreren</button>
</form>
