@using System.Globalization
@model MVC_Project_BSL.Models.Groepsreis

@{
    ViewBag.Title = "Bewerk groepsreis";
}

<h2>Bewerk groepsreis</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-warning">
            Let op: Als u vergeten bent iets in te vullen, moet u het bestand opnieuw selecteren.
        </div>
    }


    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Begindatum" class="control-label"></label>
        <input asp-for="Begindatum" class="form-control" />
        <span asp-validation-for="Begindatum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Einddatum" class="control-label"></label>
        <input asp-for="Einddatum" class="form-control" />
        <span asp-validation-for="Einddatum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Prijs" class="control-label"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input asp-for="Prijs" class="form-control" type="number" step="1" />
        </div>
        <span asp-validation-for="Prijs" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="BestemmingId" class="control-label">Bestemming</label>
        <select asp-for="BestemmingId" asp-items="ViewBag.Bestemmingen" class="form-control"></select>
        <span asp-validation-for="BestemmingId" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="MaxAantalDeelnemers" class="control-label">Maximum aantal deelnemers</label>
        <input asp-for="MaxAantalDeelnemers" class="form-control" />
        <span asp-validation-for="MaxAantalDeelnemers" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <input type="submit" value="Opslaan" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
    </div>

</form>

@section Scripts {


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />


    @await Html.PartialAsync("_ValidationScriptsPartial")


}
